.curser{
  cursor: pointer;
}
li{
  list-style: none;
}
.homebg{
  background: url(https://img.freepik.com/free-photo/autumn-leaf-falling-revealing-intricate-leaf-vein-generated-by-ai_188544-9869.jpg);
  height: 94vh;
  background-size: cover;
}
.liwidth{
  width: 30%;
}